*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  // font-family: "Poppins", "Noto Sans TC", sans-serif;
  font-family: "Noto Sans TC", sans-serif;

  font-size: 16px;
  font-weight: bold;
  letter-spacing: $letter-spacing-base;
  line-height: 1.5;
  // line-height: $line-height-base;
}

h1 {
  font-size: $font-base-size * 13;
  letter-spacing: $letter-spacing-lg;
}
h2 {
  font-size: $font-base-size * 11;
  letter-spacing: $letter-spacing-lg;
}
h3 {
  font-size: $font-base-size * 8;
  letter-spacing: $letter-spacing-lg;
}
h4 {
  font-size: $font-base-size * 6;
  letter-spacing: $letter-spacing-lg;
}
h5 {
  font-size: $font-base-size * 4;
  letter-spacing: $letter-spacing-lg;
}
p,
li {
  letter-spacing: $letter-spacing-paragraph;
}

button {
  letter-spacing: $letter-spacing-base;
  vertical-align: middle;
}
a {
   letter-spacing: $letter-spacing-base;
}

label {
  display: block;
  font-size: $font-base-size * 4;
  color: $primary;
  @media (min-width: $grid-breakpoints-md) {
    font-size: $font-base-size * 6;
  }
}
input,
textarea {
  display: block;
  font-size: $font-base-size * 4;
  font-weight: bold;
  padding: $space * 3;
  border: $border-base-width $primary solid;
  border-radius: $border-base-sm-radius;
  margin-top: $space * 2;
  margin-bottom: $space * 4;
  width: 100%;
  color: $gray-dark;
  @media (min-width: $grid-breakpoints-md) {
    font-size: $font-base-size * 6;
    padding: $space * 4;
  }
}

// dialog {
//   // background-color: none;
//   border: none;
//   padding: 0;
//   // margin: $space * 4;
// }

// button,
// a {
//   display: block;
//   line-height: 1;
//   padding-top: $space;
//   padding-bottom: $space;

// }
// button {
//   // display: block;
//   // line-height: 1;
//   // padding-top: $space;
//   // padding-bottom: $space;
// }

a {
  color: $primary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $accent;
  }
  &:active {
    color: $secondary;
  }
}
