$primary: #006e5a;
$primary-dark: #004536;
$secondary: #97cfac;
$accent: #f29438;
$gray-light: #cccccc;
$gray-dark: #404040;
$dark: #1a1a1a;
$white: #ffffff;

$themes: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "secondary": $secondary,
  "accent": $accent,
  "gray-light": $gray-light,
  "gray-dark": $gray-dark,
  "dark": $dark,
  "white": $white,
  // success: #5cb85c,
  // info: #5bc0de,
  // warning: #f0ad4e,
  // danger: #d9534f,
);

$font-base-size: 0.25rem;
$space: 0.25rem;
$border-base-width: 2px;
$border-lg-width: 4px;

$border-base-radius: 10px;
$border-base-sm-radius: 4px;
$letter-spacing-paragraph: 0.05rem;
$letter-spacing-sm: 0.1rem;
$letter-spacing-base: 0.2rem;
$letter-spacing-md: 0.3rem;
$letter-spacing-lg: 0.5rem;

// grid, container and gutter
$gutter-x: $space * 3;
$grid-columns: 12;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1400px;

$grid-breakpoints: (
  xs: 0,
  sm: $grid-breakpoints-sm,
  md: $grid-breakpoints-md,
  lg: $grid-breakpoints-lg,
  xl: $grid-breakpoints-xl,
  xxl: $grid-breakpoints-xxl,
);

$spaces: (
  0: 0,
  1: $space * 1,
  2: $space * 2,
  3: $space * 3,
  4: $space * 4,
  5: $space * 5,
  6: $space * 6,
  7: $space * 7,
  8: $space * 8,
  9: $space * 9,
  10: $space * 10,
  11: $space * 11,
  12: $space * 12,
  13: $space * 13,
  14: $space * 14,
  15: $space * 15,
  16: $space * 16,
  17: $space * 17,
  18: $space * 18,
  19: $space * 19,
  20: $space * 20,
  21: $space * 21,
  22: $space * 22,
  23: $space * 23,
  24: $space * 24,
  25: $space * 25,
  26: $space * 26,
  27: $space * 27,
  28: $space * 28,
  29: $space * 29,
  30: $space * 30,
  31: $space * 31,
  32: $space * 32,
  33: $space * 33,
  34: $space * 34,
  35: $space * 35,
  36: $space * 36,
  37: $space * 37,
  38: $space * 38,
  39: $space * 39,
  40: $space * 40,
  41: $space * 41,
  42: $space * 42,
  43: $space * 43,
  44: $space * 44,
  45: $space * 45,
  46: $space * 46,
  47: $space * 47,
  48: $space * 48,
  49: $space * 49,
  50: $space * 50,
);
