@use "sass:math";

.container {
  max-width: $grid-breakpoints-xl;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-x;
  padding-right: $gutter-x;
  @media (min-width: $grid-breakpoints-sm) {
    width: 80%;
  }
  @media (min-width: $grid-breakpoints-md) {
    width: 75%;
  }
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-x;
  padding-right: $gutter-x;
}

@each $key, $value in $grid-breakpoints {
  .container-#{$key} {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter-x;
    padding-right: $gutter-x;
    @media (max-width: #{$key}) {
      width: 100%;
    }
  }
}



.row {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  // max-width: 100%;
  margin-right: calc($gutter-x * -0.5);
  margin-left: calc($gutter-x * -0.5);
  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc($gutter-x * 0.5);
    padding-left: calc($gutter-x * 0.5);
  }
 margin-right: calc($gutter-x * -0.5);
  margin-left: calc($gutter-x * -0.5);
  .col {
    flex: 1 0 0%;
  }
  @media (min-width: $grid-breakpoints-sm) {
    .col-sm {
      flex: 1 0 0%;
    }
  }
  @media (min-width: $grid-breakpoints-md) {
    .col-md {
      flex: 1 0 0%;
    }
  }
  @media (min-width: $grid-breakpoints-lg) {
    .col-lg {
      flex: 1 0 0%;
    }
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: math.div(100%, $grid-columns) * $i;
      flex: 0 0 auto;
    }
  }
  @for $i from 1 through $grid-columns {
    @media (min-width: $grid-breakpoints-sm) {
      .col-sm-#{$i} {
        width: math.div(100%, $grid-columns) * $i;
        flex: 0 0 auto;
      }
    }
  }
  @for $i from 1 through $grid-columns {
    @media (min-width: $grid-breakpoints-md) {
      .col-md-#{$i} {
        width: math.div(100%, $grid-columns) * $i;
        flex: 0 0 auto;
      }
    }
  }
  @for $i from 1 through $grid-columns {
    @media (min-width: $grid-breakpoints-lg) {
      .col-lg-#{$i} {
        width: math.div(100%, $grid-columns) * $i;
        flex: 0 0 auto;
      }
    }
  }
}


.gx-0 {
  margin-right: 0;
  margin-left: 0;
    > * {

    padding-right: 0;
    padding-left: 0;
  }
}