@each $key, $value in $themes {
  .hover {
    &.text-#{$key} {
      &::before {
        background-color: $value;
      }
      &:hover {
        color: $white;
      }
    }
    &.bg-#{$key} {
      &::before {
        background-color: $white;
      }
      &:hover {
        color: $value;
      }
    }
    &.btn-#{$key} {
      z-index: 1;
      &::before {
        background-color: $white;
        color: $value;
        z-index: -1;
      }
      &:hover {
        z-index: 2000;
        background-color: $white;
        color: $value;
        // background: $white;
        &::before {
        }
      }
    }
    &.btn-outline-#{$key} {
      z-index: 1;
      &::before {
        background-color: $value;
        color: white;
        z-index: -1;
      }
      &:hover {
        z-index: 2000;
        // background-color: $white;
        color: $white;
        // background: $white;
      }
    }
  }
}

.hover {
  &::before {
    background-color: $primary;
  }
  &:hover {
    color: $white;
  }
}
.hover.hover-nav-link {
  &::before {
    background-color: $primary;
  }
  &:hover {
    color: $white;
  }
}
.hover-expand-round {
  // z-index: 1;
  border-radius: $border-base-sm-radius;
  display: block;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
  &::before {
    content: "";
    transition: all 0.2s;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 0%;
    height: 0;
  }
  &:hover {
    z-index: 1;
    &::before {
      width: 210%;
      height: 100vmax;
    }
  }
}
.hover-animation {
  &-start {
    &::before {
      left: 0;
      top: 50%;
    }
  }
  &-center {
    &::before {
      left: 50%;
      top: 50%;
    }
  }
}

.hover-navigate-link {
  transition: all 0.2s;
  &:hover {
    transition: all 0.2s;
    padding-left: $space * 5;
    padding-right: $space * 5;
    path {
      transition: all 0.2s;
      fill: #fff;
    }
  }
  &.text-white {
    &:hover {
      color: $accent;
      path {
        fill: $accent;
      }
    }
  }
}