.hover-bg-primary:hover {
  background: $primary;
}

.hover-member:hover {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: $accent solid $border-base-width;
  background: $accent;
}
